<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <style>
      body { background-color: rgb(226, 230, 234); } nav { background-color:
      rgb(244, 243, 243); } .form-control, .form-select { box-shadow: 0 0.5rem
      0.5rem rgba(0, 0, 0, 0.1); }
    </style>
  </head>
  <body>
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-md bg-grey-200">
      <div class="container">
        <a href="/" class="navbar-brand fs-2">
          <i id="logo" class="fa-solid fa-laptop-code"></i>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navmenu"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navmenu" class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="/" class="nav-link"><strong>Home</strong></a>
            </li>
            {{#if user}}
              <li class="nav-item">
                <a href="/add-project" class="nav-link">Add Project</a>
              </li>
            {{/if}}
            <li class="nav-item">
              <a href="/testimonials" class="nav-link">Testimonials</a>
            </li>
          </ul>
          {{#if user}}
            <a
              href="/logout"
              class="ms-auto me-3 my-2 text-light btn btn-success rounded-circle"
            ><i class="fa-regular fa-user"></i></a>
          {{else}}
            <a
              href="/login"
              class="ms-auto me-3 my-2 text-light btn btn-secondary rounded-circle"
            ><i class="fa-regular fa-user"></i></a>
          {{/if}}
          <a href="/contact" class="d-block btn btn-primary my-2">Contact Me</a>
        </div>
      </div>
    </nav>
    <!-- Navbar End -->

    <main class="container py-5">
      <h1 class="text-center mb-4 fs-2">
        You signed in as
        <span class="text-primary">{{user.name}}</span>
      </h1>
      <form
        action="/logout"
        method="post"
        id="logoutForm"
        class="mx-auto"
        style="max-width: 30rem"
      >
        <div class="text-center mt-5">
          <button type="submit" class="btn btn-danger rounded-pill px-4 py-2">
            Logout
          </button>
        </div>
      </form>
    </main>

    <!-- Bootstrap Script -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    ></script>
  </body>
</html>